<div class="banner" style="background-color: grey">
  <div class="banner-content">
    <h1>Jorj's cock_tails</h1>
    <p>Long drinks for short people</p>
    <%= link_to "Give your best $hott", new_cocktail_path, class: "btn btn-danger btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3 mt-3">
        <div class="card">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to "Try", cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
