<div class="navbar navbar-expand navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <%= link_to "Create cocktail", new_cocktail_path, class: "btn btn-outline-danger btn-lg" %>
</div>